@import 'bootstrap-compass';
@import 'bootstrap';
@import 'font-awesome-compass';
@import 'font-awesome';
@import 'bootstrap-editable';
@import 'css/select2';
@import 'css/select2-bootstrap';
@import 'css/bootstrap-datetimepicker.min';
@import 'dataTables.responsive';

body {
    overflow-y: scroll;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding-top: 80px;
    background-size: cover;
}

img {
    max-width: 100%;
}

form label {
    font-weight:bold;
}

form p {
    margin:20px 0;
}

label.checkbox {
    font-weight:normal;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 300;
}

p {
    line-height: 25px;
}

.checkbox{
    padding: 15px;
}

.overflow-dots {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.nav a {
    overflow: visible !important;
}


#membership_warning {
    background-color: orange;
    border-color: darkgreen;
    border-width: 4px 0px;
    border-style: solid;
    margin-bottom: 25px;

    div {
        width: 970px;
        margin: 0px auto;
        padding: 10px 0px;
    }

    p {
        text-align: center;
    }
}

#navigation_backtrack{
    font-size: 12px;
    padding-left: 33px;
}

#search {
    padding: 6px;
}

/* Logo carousel */
#carousel {
    padding: 0px;
    margin: 0px;

    div {
        display: block;
        float: left;
        padding: 0 20px;
        position: relative;
        text-align: center;
        width: 200px;

        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
        }
        span {
            display: none;
        }

        &:hover span {
            background-color: #333;
            border-radius: 3px;
            bottom: 0;
            color: #fff;
            display: inline-block;
            font-family: Arial, Geneva, SunSans-Regular, sans-serif;
            font-size: 14px;
            left: 50%;
            line-height: 22px;
            margin: 0 0 0 -50px;
            padding: 2px 0;
            position: absolute;
            width: 100px;
        }
        img {
            border: none;
            width: auto;
            max-height: 160px;
        }
    }

    img {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
    }
}

/* Activity-block (activities) */
.activity-block {
    padding: 20px;
    border-bottom: 1px dashed #eee;

    &:hover {
        background-color: #f5f5f5;
    }

    .image {
        height: 220px;
    }

    .row-fluid {
        height: 220px;
        overflow: hidden;
    }

    .short_content {
        height: 115px;
        overflow: hidden;
        text-overflow: ellipsis;

        p {
            height: 115px;
            text-overflow: ellipsis;
        }
    }

    .time {
        color:#444;
        font-weight:bold;
        margin: 10px 0px;
        float: left;

        dt {
            width: 20px;
        }

        dd {
            margin-left: 40px;
        }
    }

    h1 {
        font-size: 2em;
        padding: 0px;
        line-height: 1em;
        margin: 0px;
        color: #0088cc;
    }

    h2 {
        font-size: 2em;
        margin: 10px 0px 0px 0px;
        padding: 0px;
        line-height: 1em;
        float: right;

        i {
            position: relative;
            top: 8px;
        }
    }

    h3 {
        padding: 0px;
        font-size: 1.5em;
        line-height: 1em;

        i {
            margin-top: 4px;
            margin-right: 10px;
        }
    }

    img {
        max-height: 220px;
        max-width: 220px;
    }
    td {
        min-width:70px;
        padding:3px;
    }
}

// Fixes title on homescreen
.activity a {
    color: #333;
    display: block;
}

#acc {
    margin-top:-14px;
}

.mainblock {
    margin-bottom: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 560px;
}

.readmore {
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(20%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    text-align: right;
}

.dropdown-menu > li > input {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
    border: 0px;
    border-radius: 0px;
    webkit-border-radius: 0px;
    moz-border-radius: 0px;
    text-align: left;
    background-color: white;
    width: 100%;
}

.dropdown-menu > li > input:hover,
.dropdown-menu > li > input:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

/* Bootstrap formbuilder */
.ui-draggable {
    margin-bottom:4px;
}

li.leave-alone {
    visibility: hidden;
    height: 10px;
}

ul.parent > li {
    margin-bottom: 10px;
}

/* Navigation. */
div.nav_entry {
    border: 1px solid #ccc;
    padding: 5px;
}

div.droppable {
    height: 15px;
    border: 1px dotted black;
    float: left;
    width: 300px;
}

div.sortable {
    margin-left: 5px;
    clear: both;
    padding-bottom: 10px;
}

/* Custom Form view-results */
.is_reserve {
    background:#FFFD87;
}

/* Form overview rues. */
.new-form {
    display: block;
}

.view-results {
    display: inline-block;
    width: 100px;
}

.form-buttons {
    text-align: right;
}

#athenaeum {
    width: 100%;
    height: 950px;
    margin: 0;
    padding: 0;
    border: none;
}

.nav a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.linkimg404 {
    max-width: 100%;
}

/* new css */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);


header{
    max-height: 80px;

    ul.navbar-nav > li {
        text-transform: uppercase;
    }

    ul.navbar-nav > li > ul {
        text-transform: none;
    }


    #loginImage{
        position: absolute;
        right: 0;
        top: 11px;
        border: 1px solid #eee;
        width: 40px;
        height: 40px;
    }

    #loginImageMobile{
        position: relative;
        right: 0;
        top: 0;
        float: right;
        margin-top: 8px;
        border: 1px solid #eee;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        cursor: pointer
    }

    .navbar-nav{
        margin-left: 10px;
        float: left;
        height: 60px;
    }

    #loginContainer{

        color: #555;
        position: absolute;
        right: 0;
        left: auto;
        top: 62px;
        right: 15px;
        border-radius: 2px;
        padding: 20px;
        overflow: hidden;
        text-transform: none;
        font-size: 12px;
        line-height: 14px;
    }


    #logoutButtonContainer{
        width: 100%;

    }

    #loginContainer p{
        line-height: 14px;
    }

    #userImage{
        width: 96px;
        height: 96px;
        border:1px solid #eee;
        float: left;
        position: relative;
    }

    #userInformation{
        float: left;
        margin-left: 20px;
        position: relative;
        min-width: 100px;
    }

    #loginContainer .fullWidth{
        width: 100%;
        margin-top: 20px;
        position: relative;
        float: left;
    }

}

#sign-in{
    padding:20px 0px 60px 0px;
}

#sign-in .list-inline{
    margin-top:20px;
}

#dropmenu-list{
    margin-top:10px;
}

.navbar-default {
  -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.4);
  background-image: none;
  border: none;
  background: rgba(255, 255, 255, 0.95);
}

.navbar-brand{
    padding: 5px 20px 0 20px;
}

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-nav>li>a.active {

}

.invisible {
    visibility: hidden;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background: none;
    border-bottom: 2px solid #004b99;
}


@media(max-width:767px) {

    body{
        padding: 0;
    }

    header{
        max-height: none;

        .navbar-brand img {
            width:60px;
        }

        .navbar-collapse{
            max-height: none;
        }

        .navbar-nav{
            margin: 0;
            height: auto;
            position: relative;
            > li > a {
                padding-top: 0px;
                padding-bottom: 20px;
            }

        }

        .navbar-fixed-top{
            position: relative;
        }

        .navbar-default .navbar-toggle {
            padding: 12px 10px;
            border-color:#eee;
        }

        #logoutButtonContainerMobile {
            width: 100%;

            button {
                width: 100%;
                margin-bottom: 20px;
                height: 40px;
                font-size: 18px;
            }

        }

        .navbar-collapse{
            padding-top: 10px;
        }

        #sign-in-menu-mobile {
            padding-bottom: 20px;
            button{
                width: 100%;
                font-size: 18px;
                margin-bottom: 10px;
            }

        }

        #userImageMobile{
            width: 20%;
            max-width: 100px;
            margin-right: 5%;
            float: left;
            margin-bottom: 20px;
        }

        #userInformationMobile{
            width: 65%;
            float: left;
        }
    }
}

@media(min-width:768px) {
    header {
        .navbar-default .navbar-nav>li>a {
            padding: 30px 0px 10px 8px;
            font-size: 12px;
        }

        .navbar-brand {
            padding-right: 0;
        }

        .navbar-nav{
            width: 580px;
        }

        .navbar-collapse.collapse.loginForMobile{
            display: none !important;
        }
    }
}

@media(min-width:992px){
    header .navbar-default .navbar-nav>li>a {
        padding: 20px 10px 20px 10px;
        font-size: 14px;
    }

    header .navbar-nav{
        width: 800px;
    }
}
@media(min-width:1200px){
    header .navbar-default .navbar-nav>li>a {
        padding: 20px 15px 20px 15px;
        font-size:16px;
    }

    header .navbar-nav{
        width: 1000px;
    }
}

/*
 * Custom table CSS
 */
#datatable {
    cursor: pointer;
}

/*
 * Submenu
 */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.inline-field {
    width: auto;
    display: inline;
}

.panel.with-nav-tabs {

    .panel-heading{
        padding: 5px 5px 0 5px;
    }

    .nav-tabs{
        border-bottom: none;
    }

    .nav-justified{
        margin-bottom: -1px;
    }
}

@import 'includes/domjudge';
@import 'includes/htmldiff';
@import 'includes/pimpy';
